.box {
    border: none;
    display: inline-flex;
    background-color: white;
    color: #17171700;
    border-radius: 10%;
    box-shadow: 0rem 0rem .5rem #888;
    width: 5rem;
    height: 5rem;
    margin: min(.5rem);
    justify-content: space-evenly;
}


.x {
    color: #17171700;
    background-position:center;
    background-repeat: no-repeat;
    background-size: max(8rem);
    max-width: 5rem;
    background-image: url(/public/Simbolo-Tik-Tok.jpg)
}

.o {
    color: #17171700;
    background-position: center 2pxright;
    background-size: max(5rem 5.2rem);
    max-width: 5rem;
    background-repeat: no-repeat;
    background-image: url(/public/Toe.png);
    text-align: center;
    font-size:large

}


.box:hover {
    box-shadow: 0rem 0rem .5rem #888;
    cursor: pointer;
}