.Title{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: center;
    justify-content: space-evenly;
    width: 100%;
    background-color: white;
    font-weight: bold;
}